section {
    padding: 20px;
}

.ContainerContacto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px; /* Limitar el ancho del formulario para una mejor legibilidad en pantallas más grandes */
    width: 100%; /* Asegurarse de que el formulario ocupe todo el ancho disponible */
}

input,
textarea {
    width: 100%; /* Hacer que los campos de entrada y la área de texto ocupen todo el ancho del formulario */
    padding: 1rem;
    font-size: 17px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 0.5px solid gray;
    box-sizing: border-box; /* Incluir el relleno y el borde en el ancho total */
}

textarea {
    resize: vertical;
}

button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    text-decoration: underline;
}
