section {
    padding: 20px;
    margin-top: 10rem;
}

.ContainerCard {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* Centrar las tarjetas en el contenedor */
}

.card {
    flex: 1;
    border: 1px solid rgb(229, 229, 229);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 5px;
}

.tittle {
    font-size: 22px;
    margin-bottom: 10px;
}

.description {
    color: gray;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem; 
    margin-top: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.btn {
    margin-top: 0.5rem;
    text-align: center; /* Centrar el botón */
}

.btn > a {
    color: gray;
    text-decoration: none;
}

.btn > a:hover {
    color: black;
    text-decoration: underline;
}
