
section {
    padding: 20px;
}

.icons {
    display: flex;
    flex-wrap: wrap; /* Permitir que los íconos se envuelvan a la siguiente línea */
    gap: 3rem;
    padding: 1rem;
    justify-content: center; /* Centrar los íconos en el contenedor */
}

/* Estilo adicional para cada ícono si es necesario */
.icons > svg {
    max-width: 100px; /* Ajustar el tamaño máximo de los íconos */
    height: auto;
    fill: #333; /* Cambiar el color de relleno si es necesario */
}